bishan.meghani/ProjectWAD/WebSite/XSDtest.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   targetNamespace="myFilmsNamespace">
		   
<xs:element name="place" type="xs:string"/>		   
<xs:element name="nights" type="xs:int"/>		
<xs:element name="price" type="xs:int"/>	

<xs:element name="destination">
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="place"/>
			<xs:element ref="nights"/>
			<xs:element ref="price"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:int" use="required"/>
	</xs:complexType>
</xs:element>
